<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118438383499-3vcs0658742k2gcrtc0um44ll37j8j8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118438383499-3vcs0658742k2gcrtc0um44ll37j8j8s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>118438383499-58uqt90hld87sjj6693hsfvua3fuv11v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUsP4wm7ISN1IGWyY0rsiqCm3JnXU-I6k</string>
	<key>GCM_SENDER_ID</key>
	<string>118438383499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.membershipCard</string>
	<key>PROJECT_ID</key>
	<string>gymsystem-13de2</string>
	<key>STORAGE_BUCKET</key>
	<string>gymsystem-13de2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118438383499:ios:dd1ef7d7e76adc1f61698e</string>
	<key>DATABASE_URL</key>
	<string>https://gymsystem-13de2.firebaseio.com</string>
</dict>
</plist>